.top-rect
	width: 100%
	padding-top: 400px
	position: absolute
	top: 0
	left: 0
	z-index: 0
	background-color: $v-1
	overflow: hidden

	&:after
		content: ''
		display: block
		background: white
		height: 400px
		width: 8000px
		position: absolute
		z-index: 1
		bottom: -50%
		left: 50%
		margin-left: -4000px
		transform: rotate(-6deg)

#header
	position: relative
	margin-bottom: 30px
	width: 100%
	height: 87px
	z-index: 5
	background-image: url("/assets/img/large_leather.png")	
	border-bottom: 0.1px solid rgba(216, 203, 110, 0.4)
	background-color: rgba(128, 81, 0, 0.4)
	@include border-bottom-radius(5px)
	.fundo
		background-color: rgba(128, 81, 0, 0.4)
		width: 100%
		height: 100%
		position: absolute
		@include border-bottom-radius(5px)

	.logotipo
		background-image: url("/assets/img/roughcloth.png")
		position: relative
		max-width: 200px
		color: rgba(140,114,70,0.8)
		display: block
		margin: 15px auto 0
		font-family: $logo-font
		@include border-radius(5px)
		background-color: rgba(128, 81, 0, 0.4)
		cursor: pointer
		&:hover
			color: rgba(177, 136, 66, 0.8)
			h1
				background-color: rgba(249, 219, 2, 0.4)

		h1
			background-color: rgba(216, 203, 110, 0.4)
			padding: 7px 6px
			text-align: center

	

