// .footer
	// height: 137px


#footer
	width: 100%
	bottom: 0
	// position: fixed
	// z-index: -3
	background-color: white
	// padding: 55px 30px 110px
	padding: 35px 30px 35px
	// height: 145px
	color: #aaa
	font-size: 13px

	.elements-footer

		.lx
			float: left
			max-width: 350px
			img
				float: left
				max-width: 121px
				margin-right: 25px

			.text-footer
				margin-top: 25px
				float: left
				.icon
					color: #dc6b6b
					margin: 0 5px
				p
					margin-bottom: 2px
				span
					font-size: 13px
					color: #d3d5d4
				a
					font-weight: 700
					cursor: pointer
					color: #aaa
					&:hover
						color: #dc6b6b


		.sm
			float: right
