#hero-2
	@include linear-gradient(135deg,#C3B08F 0%,#F5F3E4 50%,#F5F3E4 51%,#C2AF8E 100%)
	padding: 0
	.img-header
		position: relative
		padding: 40px 0px 70px
		&:after
			content: ""
			background-image: url(../img/background-hero.svg)
			background-position: 51% 55%
			background-repeat: no-repeat
			background-attachment: fixed
			position: absolute
			top: 0
			left: 0
			bottom: 0
			right: 0
			z-index: 2
			opacity: 0.3

		.slogan
			padding-top: 100px
			padding-bottom: 100px
			float: right
			z-index: 5
			.header-head
				max-width: 370px
				h2
					font-size: 40px				
					line-height: 1.5
				h3
					font-size: 20px
					font-weight: 400
					margin: 15px 0 35px
					color: #797269
				.botao-oval
					padding: 10px 25px
					border: 1px solid $amarelo
					font-size: 18px

		.imagem
			float: left
			z-index: 5
			padding-top: 60px
			img
				max-width: 90%

@media (max-width: 992px)
	#hero-2
		.img-header
			padding: 10px 0px 20px
			.imagem
				padding-top: 145px

@media (max-width: 767px)
	#hero-2
		.img-header
			padding: 40px
			.slogan
				padding-top: 30px
				padding-bottom: 60px
				.header-head
					margin: 0 auto
					text-align: center
			.imagem
				padding-top: 0
				padding-right: 85px

@media (max-width: 544px)
	#hero-2
		.img-header
			.slogan
				float: none

@media (max-width: 500px)

	#hero-2
		.img-header
			.slogan
			.imagem
				padding-top: 0
				padding-right: 40px

@media (max-width: 404px)
	#hero-2
		.img-header
			.slogan
				.header-head
					h2
						font-size: 32px
					h3
						font-size: 15px
					.botao-oval
						padding: 10px 5px
						font-size: 14px		


@media (max-width: 309px)
	#hero-2
		.img-header
			.slogan
				.header-head
					.botao-oval
						padding: 10px 3px
						font-size: 12px		
