section
	padding: 40px 0px

.section-head
	font-size: 18px
	text-align: center
	line-height: 1.6

.section-title-rule
	width: 100px
	border-top: 2px solid $v-4
	margin: 10px auto 30px

.wrapper
	position: relative

.fundo
	background-color: white