
# Created by https://www.gitignore.io/api/jekyll,sass,linux

### Jekyll ###
_site/
.sass-cache/
.jekyll-metadata


### Linux ###
*~

# temporary files which can be created if a process still has a handle open of a deleted file
.fuse_hidden*

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*