<section id="facebook">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div class="section-head">Siga-nos!</div>
				<hr class="section-title-rule"></hr>
				<div class="fb-p">
				<!--
					<div class="fb-page" data-href="https://www.facebook.com/suavemaria/" data-tabs="timeline" data-width="540" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/suavemaria/"><a href="https://www.facebook.com/suavemaria/">SUAVE MARIA</a></blockquote></div></div>-->
				</div>
			</div>
		</div>
	</div>		
</section>