<section id="hero">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-md-6 slogan">
				<hr class="header-title-rule"></hr>
				<div class="header-head">
					<h2>Esqueça a confusão da depilação. Chega de lâminas e aparelhos Maria.</h2>
					<h2>Agora, seja suave consigo.
					</h2>				
					<hr class="header-title-rule-mobile"></hr>
				</div>
				
			</div>
			<div class="col-sm-12 col-md-6 video"><!--
				<div class="embed-responsive embed-responsive-16by9">
					<iframe width="1280" height="720" src="https://www.youtube.com/embed/rCIHFZhtyBE?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
				</div>-->
				<img src="http://bottegaverde.es/img_prodotti/extrabig/130755.jpg">
				<p class="muted"><span class="black">Video/Imagem sobre:</span> Aqui terá o video/imagem mostrando o produto e como usar.</p>
			</div>
		</div>
	</div>		
</section>