<section id="hero-2">
	<div class="img-header">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-6 slogan">				
					<div class="header-head">
						<h2>Esqueça a confusão da depilação.</h2>
						<h3>Chega de lâminas e aparelhos Maria.</h3>
						<a href="" class="botao-oval">Agora, seja suave consigo</a>					
					</div>
					
				</div>
				<div class="col-sm-12 col-md-6 imagem">
					<img src="http://bottegaverde.es/img_prodotti/extrabig/130755.jpg">
				</div>
			</div>
		</div>
	</div>	
</section>