<section id="about">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="section-head">A revolução da depilação!</div>
				<hr class="section-title-rule"></hr>
				<div class="content">
					<p>A Suave Maria permite uma depilação completamente indolor enquanto esfolia a tua pele, deixando-a suave! Através de tiras adesivas de micro cristais de silício, que se colam na luva Suave Maria, aplicam-se em movimentos circulares que permite que o pêlo se enrole sobre si mesmo e acabe por cair. Permita-se!
					</p>
				</div>
			</div>
		</div>
	</div>		
</section>
