<section id="icons">
	<div class="container">
		<div class="row">
			<div class="col-sm-6 col-md-3 div-icones">
				<i class="icon ion-ios-time-outline"></i>
				<h5 style="">Rápido</h5>
				<p>não precisas de esperar até que os teus pêlos atinjam o tamanho “x”</p>
			</div>
			<div class="col-sm-6 col-md-3 div-icones">
				<i class="icon ion-happy-outline"></i>
				<h5 style="">Fácil</h5>
				<p>Faça você mesmo, sem precisar de ajuda, água ou eletricidade</p>
			</div>
			<div class="col-sm-6 col-md-3 div-icones">
				<i class="icon ion-android-plane"></i>
				<h5 style="">Portátil</h5>
				<p>Pesa cerca de 200g e não interfere com qualquer controlo de bagagem</p>
			</div>
			<div class="col-sm-6 col-md-3 div-icones">
				<i class="icon ion-ios-loop-strong"></i>
				<h5 style="">Econômico</h5>
				<p>a depilação das duas pernas passará a custar-te 0,40€ ou menos</p>
			</div>		
				
		</div>
	</div>		
</section>