<section id="icons">
	<div class="container">
		<div class="row">
			<div class="col-sm-6 col-md-3 div-icones">
				<i class="icon ion-ios-time-outline"></i>
				<h5 style="">Rápido</h5>
				<p>Não espere os pelos crescer</p>
			</div>
			<div class="col-sm-6 col-md-3 div-icones">
				<i class="icon ion-happy-outline"></i>
				<h5 style="">Fácil</h5>
				<p>Faça você mesmo, sem precisar de ajuda</p>
			</div>
			<div class="col-sm-6 col-md-3 div-icones">
				<i class="icon ion-android-plane"></i>
				<h5 style="">Portátil</h5>
				<p>Sem problema para transportar em viagens</p>
			</div>
			<div class="col-sm-6 col-md-3 div-icones">
				<i class="icon ion-ios-loop-strong"></i>
				<h5 style="">Econômico</h5>
				<p>Reutilizável através do uso de refils</p>
			</div>		
				
		</div>
	</div>		
</section>