<section id="about">
	<div class="container">
		<div class="row centralizado">
			<div class="col-xs-12">
				<div class="section-head">A revolução da depilação!</div>
				<hr class="section-title-rule"></hr>
				<div class="content">
					<p class="lead">A Suave Maria permite uma depilação completamente indolor enquanto esfolia a tua pele, deixando-a suave
					</p>
					<p class="muted">Através de tiras adesivas de micro cristais de silício, que se colam na luva Suave Maria, aplicam-se em movimentos circulares que permite que o pêlo se enrole sobre si mesmo e acabe por cair. Permita-se!</p>
					<div class="botao-center"><a href="#quem" class="botao-oval">Para quem?</a></div>
					
				</div>
			</div>
		</div>
	</div>		
</section>
