<section id="contact">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">

				<div class="section-head">Entre em contacto</div>
				<hr class="section-title-rule"></hr>
				<p class="contact-text">Frase dizendo que em qualquer dúvida pode enviar um e-mail ou para comprar/encomendar também!</p>

				<form action="https://formspree.io/your@email.com"
				      method="POST">
				    <input type="text" name="name" placeholder="Nome"></br>
				    <input type="email" name="_replyto" placeholder="E-mail"></br>
				    <textarea name="mensagem" placeholder="Mensagem"></textarea></br>
				    <input type="hidden" name="_next" value="thankspage" />
				    <input type="hidden" name="_subject" value="Novo contato do Site" />
				    <input type="text" name="_gotcha" style="display:none" />
				    <input type="submit" value="Enviar!">
				</form>
				<p class="contact-text">Frase dizendo que não enviaremos Spam e pode ficar tranquilo.</p>
			</div>
		</div>
	</div>		
</section>