<section id="clientes">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<hr class="header-title-rule"></hr>
			</div>
			<div class="col-lg-1">
				<img alt="Foto do cliente" class="avatar" src="https://scontent-mad1-1.xx.fbcdn.net/hphotos-xlt1/v/t1.0-9/10858404_10205466103632420_8301297368776774969_n.jpg?oh=394ec4aa8cfe3669f2e2262d0e639827&oe=578145FC">
			</div>
			<div class="col-lg-5">
				<p>"Experimentei e nem queria acreditar... onde é que isto andou a minha vida toda?? Indolor, não tóxico e tira todos os pelinhos num instante!"</p>
				<a href="https://www.facebook.com/suavemaria/photos/pb.227385374259397.-2207520000.1459773579./229122057419062/?type=3&theater" target="_blank" class="cliente" >@Maria Souza on Facebook</a>
			</div>
			<div class="col-lg-1">
				<img alt="Foto do cliente" class="avatar" src="https://scontent-mad1-1.xx.fbcdn.net/hprofile-xaf1/v/t1.0-1/1925160_10152826201721413_7538773585556606680_n.jpg?oh=d7ca153a02e5681b1681a3b3091ec074&oe=57851FEC">
			</div>
			<div class="col-lg-5">
				<p>"Chegou o kit, fui a correr experimentar e ADOREI! Para além de ser super prático é realmente eficaz, indolor e deixa a pele super macia. Resta-me agradecer e desejar-vos o merecido sucesso. Força Suave Maria! Esta Maria está realmente mais suave :)"</p>
				<a href="https://www.facebook.com/suavemaria/posts/232975537033714" target="_blank" class="cliente" >@Ana João on Facebook</a>
			</div>			
		</div>
	</div>		
</section>