<section id="clientes">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<hr class="header-title-rule"></hr>
			</div>
			<div class="col-lg-1">
				<img alt="Foto do cliente" class="avatar" src="https://scontent.fpoa4-1.fna.fbcdn.net/v/t1.0-9/15965971_10211940046876955_7926309732645803954_n.jpg?oh=a7832527caf1d8ef45371988312bfb2b&oe=59F4FD02">
			</div>
			<div class="col-lg-5">
				<p>"Experimentei e nem queria acreditar... onde é que isto andou a minha vida toda?? Indolor, não tóxico e tira todos os pelinhos num instante!"</p>
				<a id="clientes#esquerda" href="https://www.facebook.com/suavemaria/photos/pb.227385374259397.-2207520000.1459773579./229122057419062/?type=3&theater" target="_blank" class="cliente" >@Maria Souza on Facebook</a>
			</div>
			<div class="col-lg-1">
				<img alt="Foto do cliente" class="avatar" src="https://scontent.fpoa4-1.fna.fbcdn.net/v/t1.0-1/20292608_10155337161386413_5189432289822824221_n.jpg?oh=a6af2c627904b48076e5380927c60ae7&oe=5A3022F4">
			</div>
			<div class="col-lg-5">
				<p>"Chegou o kit, fui a correr experimentar e ADOREI! Para além de ser super prático é realmente eficaz, indolor e deixa a pele super macia. Resta-me agradecer e desejar-vos o merecido sucesso. Força Suave Maria! Esta Maria está realmente mais suave :)"</p>
				<a id="clientes#direita" href="https://www.facebook.com/suavemaria/posts/232975537033714" target="_blank" class="cliente" >@Ana João on Facebook</a>
			</div>			
		</div>
	</div>		
</section>