<section id="contact">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">

				<div class="section-head">Contactar ou Encomendar</div>
				<hr class="section-title-rule"></hr>
				<p class="contact-text">Preencha o formulário abaixo e enviamos via ctt para tua casa, ou podes seguir-nos na nossa página do <a href="#facebook"> facebook </a> onde ficar a par das feiras urbanas e pontos de venda Suave Maria.</p>


				<form action="https://formspree.io/your@email.com"
				      method="POST">
				    <input type="text" name="name" placeholder="Nome"></br>
				    <input type="email" name="_replyto" placeholder="E-mail"></br>
				    <textarea name="mensagem" placeholder="Mensagem"></textarea></br>
				    <input type="hidden" name="_next" value="thankspage" />
				    <input type="hidden" name="_subject" value="Novo contato do Site" />
				    <input type="text" name="_gotcha" style="display:none" />
				    <input type="submit" value="Enviar!">
				</form>
				<p class="contact-text">Em caso de dúvidas você pode utilizar o mesmo formulário. Não enviaremos spam!</p>
			</div>
		</div>
	</div>		
</section>