<section id="quem">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div class="section-head">Para quem?</div>
				<hr class="section-title-rule"></hr>
			</div>
			<div class="col-sm-12">
				<p style="font-size: 18px">A Suave Maria é um produto pensado em mulheres viajantes, vão elas de avião ou no seu coração.</p>
				<p>Pesa cerca de 200g, é de fácil arrumação, e não interfere com qualquer controlo de bagagem.</p>
			</div>
			<div class="col-sm-12" style="text-align: right">
				<p style="max-width: 500px">A grande vantagem da Suave Maria é que podes utiliza-lo em qualquer local porque não precisas da ajuda de outra pessoa, nem de água nem de electricidade! É possível passar o tempo que quiseres em qualquer praia paradisíaca sem que tenhas de pensar em detalhes que te limitam!</p>
			</div>
			<div class="col-sm-12">
				<p>Outra grande vantagem é a rapidez como tu própria podes fazer a depilação! Momentos inesperados: Suave Maria ajuda!</p>
			</div>
			<div class="col-sm-5">
				<p style="float: right">Imagem, nao sei</p>

			</div>			
		</div>
	</div>		
</section>