<!DOCTYPE html>
<html>
{% include head.html %}
	<body>
		<div class="wrapper">
			{% include sections/1-header.html %}
			{% include sections/2-hero-2.0.html %}
			{% include sections/3-icons.html %}
			{% include sections/4-about.html %}				
			{% include sections/5-qualidades.html %}
			{% include sections/6-quem.html %}
			{% include sections/7-clientes.html %}
			{% include sections/8-contact.html %}
			{% include sections/9-faq.html %}
			{% include sections/10-facebook.html %}

			{% include sections/11-footer.html %}


			{% include foot.html %}

		</div>
	</body>

</html>
