<!DOCTYPE html>
<html lang="pt-PT">
{% include head.html %}
	<body>
		<div class="wrapper" id="obrigado">
			{% include sections/1-header.html %}
			<section id="section-obrigado">
				<div class="container">
					<div class="row">
						<div class="col-sm-12 hero-obrigado">
							<h2>A sua mensagem foi encaminhada!</h2>
							<p>Em breve entraremos em contacto.</p>		
							<a href="/" class="botao-oval">Voltar ao início</a>
						</div>
					</div>
				</div>		
			</section>
			{% include sections/9-faq.html %}
			{% include sections/10-facebook.html %}

			{% include sections/11-footer.html %}
			{% include foot.html %}

		</div>
	</body>

</html>
